venv/
__pycache__/
*.py[cod]
*$py.class

.env
.env.*
!.env.example

outputs/
*.log
import_trace.txt

lerobot/tests/artifacts/

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

Thumbs.db
Desktop.ini
